@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bungee+Hairline&family=Bungee+Spice&family=Faster+One&family=Honk&family=Libre+Barcode+128+Text&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Slackey&family=Tac+One&family=Workbench&display=swap');
/* 
    font-family: "Poppins", sans-serif;
    font-family: "Faster One", system-ui; 
    font-family: "Libre Barcode 128 Text", system-ui;
    font-family: "Bungee Hairline", sans-serif;
    font-family: "Alfa Slab One", serif;
    font-family: "Slackey", sans-serif;
    font-family: "Pixelify Sans", sans-serif;
    font-family: "Tac One", sans-serif;
    font-family: "Bungee Spice", sans-serif;
    font-family: "Workbench", sans-serif;
    font-family: "Honk", system-ui;
*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: "Faster One", system-ui;
    /* font-family: "Poppins", sans-serif;
    font-family: "Libre Barcode 128 Text", system-ui;
    font-family: "Bungee Hairline", sans-serif;
    font-family: "Alfa Slab One", serif;
    font-family: "Slackey", sans-serif;
    font-family: "Pixelify Sans", sans-serif;
    font-family: "Tac One", sans-serif;
    font-family: "Bungee Spice", sans-serif;
    font-family: "Workbench", sans-serif;
    font-family: "Honk", system-ui; */
}

body{
    background-color: #B3B4B6;
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.container{
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 0;
}

.header{
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.header-text1{
    margin-left: 638px;
    padding: 10px;
    padding-left: 3px;
    width: 400px;
    flex-direction: column;
}

.header-h6{
    font-size: 25px;
    padding: 5px;
    padding-left: 40px;
    color: black;
    background-color: rgb(134, 207, 101);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
}


ul{
    display: flex;
    margin-left: 290px;
    background-color: rgb(134, 207, 101);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

li{
    margin-left: 20px;
    margin-right: 100px;
}

a{
    font-size: 35px;
    color: black;
    font-weight: bolder;
}

.header-text2{
    position: absolute;
    top: 38.8%;
    left: 32%;
    transform: translateX(-50);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1em;
    
}

.header-text2 h1{
    font-size: 8rem;
    font-family: "Honk", system-ui;
    letter-spacing: 2px;
    margin-bottom: 90px;
}

.header-text2 h6{
    padding-left: 410px;
    font-size: 3rem;
    font-family: "Slackey", sans-serif;
    /* font-family: "Alfa Slab One", serif; */
}

.btn-coffee{
    display: block;
    background-color: rgb(134, 207, 101);
    margin-top: 75px;
    padding: 18px 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    overflow: hidden;
}

.btn-coffee::after{
    content: "BOOBEER";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: chocolate;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.btn-coffee:hover::after{
    top: 0;
}

/* ABOUT */

.about{
    margin-bottom: 150px;
    background-color: #B3B4B6;
}

.about-title{
    padding-top: 60px ;
    margin-bottom: 14px;
}

.about-title h2{
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}

.about-title h2::after{
    content: "";
    width: 100px;
    height: 4px;
    background-color: black; 
    position: absolute; 
    bottom: -15px;
    left: 49.8%; 
    transform: translateX(-50%);
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.about-image{
    width: 48%;
    top: 10%;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text{
    width: 40%;
}

.about-text h4{
    margin-bottom: 15px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.3rem;
}

.about-text p{
    font-size: 18px;
    text-align: center;
    font-family: "Workbench", sans-serif;
}

/* LOCATION */

.about-content2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.about-content2 h6{
    margin-left: 200px;
    font-size: 50px;
    letter-spacing: 0.3rem;
}

.google-maps{
    border: 8px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 100px;
}

.google-maps iframe{
    border: 0;
    margin-bottom: -4px;
}

/* OUR TEAM */

.about-content3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-text3{
    width: 40%;
}

.about-text3 h6{
    margin-bottom: 24px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.3rem;
}


.about-text3 p{
    font-size: 18px;
    text-align: center;
    font-family: "Workbench", sans-serif;
}

/* DISCOVER */

.discover{
    display: flex;
    flex-wrap: wrap;
    background-color: #B3B4B6;
    margin-bottom: 150px;
}

.discover-title{
    padding-top: 60px ;
    margin-bottom: 14px;
}

.discover-title h2{
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    margin-bottom: 75px;
}

.discover-title h2::after{
    content: "";
    width: 180px;
    height: 4px;
    background-color: black; 
    position: absolute; 
    bottom: -15px;
    left: 49.8%; 
    transform: translateX(-50%);
}

.discover-item{
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.discover-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:100%;
    left: 0;
    opacity: 0.8;
    color: black;
    display: flex;
    transition: .5s;
}

.discover-item .overlay img.burger-image {
    margin-left: 180px !important;
    margin-top: 115px !important;
    height: 90px !important;
    width: 90px !important;
    transition: 2s;
}

.discover-item .overlay img.hotdog-image {
    margin-left: 180px !important;
    margin-top: 115px !important;
    height: 90px !important;
    width: 90px !important;
    transition: 2s;
}

.discover-item .overlay img.taco-image {
    margin-left: 180px !important;
    margin-top: 115px !important;
    height: 90px !important;
    width: 90px !important;
    transition: 2s;
}


.discover-item .overlay img.cwings-image {
    margin-left: 180px !important;
    margin-top: 115px !important;
    height: 90px !important;
    width: 90px !important;
    transition: 2s;
}

.discover-item .overlay img.coffee-image {
    margin-left: 180px !important;
    margin-top: 115px !important;
    height: 90px !important;
    width: 90px !important;
    transition: 2s;
}

.discover-item:hover .overlay{
    top: 0;
}

.discover-item:hover img{
    transform: scale(1.1);
}

/* MENU */

.discover-item2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 45px;
}

.discover-item2 h6{
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.3rem;
    margin-left: 410px;
}


.discover-item2 img {
    width: 35%; 
    height: 35%; 
    border: 4px solid black;
    border-radius: 10px;
    margin-left: 600px;
}

/* CONTACT US */

.footer{
    padding-bottom: 30px;
    padding-top: 60px;
    margin-bottom: 0;
    background-color: rgb(66, 66, 66);
    height: 100%; /* Adjust height as needed */
    margin-top: auto; /* Ensure footer sticks to bottom */
}

.footer h2{
    color: #000;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.footer h2::after{
    content: "";
    width: 200px;
    height: 4px;
    background-color: black; 
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.footer-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;

}

.footer-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}

.footer-item p{
    font-family: "Workbench", sans-serif;
    color: black;
    font-size: 18px;
}

.footer-item a{
    font-size: 18px;
    font-family: "Workbench", sans-serif;
    color: black;
}


.footer-item i{
    font-size: 27px;
    margin-bottom: 30px;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright b{
    font-family: "Alfa Slab One", serif;
}

#menu-icon{
    background-color: rgb(134, 207, 101);
    padding-left: 7px;
    padding-right: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 45px;
    display: none;
    margin-left: 240px;
    margin-top: 50px;
}

/* HOME */
@media only screen and (max-width:990px){
    .header-text2 h1{
        margin-right: 43%;
    }
    .header-text2 h6{
        margin-right: 43%;
    }
    .btn-coffee{
        margin-right: 43%;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 50%;
        overflow: hidden;
        transition: max-height .5s;
        border-top-left-radius: 0px;
        background-color: rgb(134, 207, 101);
        margin-left: 300px;
        padding-left: 90px;
    }
    .header-navbar ul li{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .header-navbar #menu-icon{
        margin-left: 250px;
        padding-left: 8px;
        display: block;
        cursor: pointer;
    }
    .btn-coffee{
        margin-left: 1px;
    }
    .header-text1{
        display: none;
    }
}
/* ABOUT */
@media only screen and (max-width:990px){
   .about-image{
        width: 89%;   
        margin-bottom: 30px;
   }
   .about-text{
        width: 100%;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
   }
   .about-content2{
       width: 90%;
       margin-bottom: 30px;
    }
    .google-maps{
        margin-right: 55px;
        margin-top: 25px;
        width: 100%;
    }
   .google-maps iframe{
        width: 100%;
   }
}
/* DISCOVER */
@media only screen and (max-width:990px){
    .discover .discover-item{
        flex-basis: 50%;
    }
}
/* MENU */
@media only screen and (max-width:1300px){
    .discover-item2 h6{
        margin-left: 70px;
        margin-bottom: 25px;
    }
    .discover-item2 img {
        margin-left: 240px;
    }
    .discover-item2{
     flex-wrap: wrap;
    }
}
/* FOOTER */
@media only screen and (max-width:990px){
    .footer-content{
        flex-direction: column;
    }
    .footer-item p{
        width: 100%;
        text-align: center;
    }
}



